@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

/*==========================================================================
 Rewrite sofia font
========================================================================== */
@font-face {
    font-family: 'sofia_promedium';
    src: url('../../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_proextralight';
    src: url('../../assets/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('../../assets/fonts/Montserrat-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_bold';
    src: url('../../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_prolight';
    src: url('../../assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('../../assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_proregular';
    src: url('../../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia_prosemibold';
    src: url('../../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*==========================================================================
 // Rewrite sofia font
========================================================================== */
body {
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

a:focus, a:hover {
    color: #00aeff;
    text-decoration: none;
}

@media (min-width: 1281px) {
    .container,
    .container-width {
        width: 1680px;
    }
}

.header .sticky-wrapper {
    position: relative;
    z-index: 99;
}

ul.products li.product-category a {
    display: inline-block;
    padding: 0;
    background-color: transparent;
}

.product-thumb .flas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.nexio-tabs .tab-head .tab-link > li.active {
    color: #00aeef;
}

.horizon-menu .main-menu > .menu-item > a {
    color: #484848;
}

.header .menu-social > a {
    color: #484848;
}

.header-control-right .menu-social::before {
    border-color: #484848;
}

.header-control-wrap a,
.header .nexio-minicart .mini-cart-icon,
.header-search-box .search-icon {
    color: #484848;
}

.brand-product, .prdctfltr_filter[data-filter="product_brand"], .main-product .prdctfltr_woocommerce .prdctfltr_filter[data-filter="product_brand"] {
    display: block !important;
}

.sidebar .prdctfltr_filter[data-filter="product_brand"] .prdctfltr_checkboxes {
    display: flex;
    flex-direction: column;
}

.sidebar .prdctfltr_filter[data-filter="product_brand"] .prdctfltr_checkboxes label {
    width: 100% !important;
}

.sidebar .prdctfltr_filter label {
    color: #000;
}

.prdctfltr_wc.prdctfltr_checkbox .prdctfltr_filter label.prdctfltr_active > span:after {
    margin-top: 3px;
}

.comment-text .comment-edit-link {
    right: 95px;
}

.breadcrumbs .breadcrumb li:nth-child(2) {
    display: none;
}

.brand-product {
    margin-bottom: -40px;
}

.summary .woocommerce-product-details__short-description {
    clear: both;
}

.detail-content .summary .price {
    float: left;
    clear: both;
}

@media (min-width: 768px) {
    body.single-product .single-left {
        width: 40%;
    }

    body.single-product .detail-content {
        width: 60%;
    }
}

.header-control-right .menu-social {
    padding-right: 15px;
}

.header-control-right .menu-social:before {
    display: none;
}

/*Filter none remove*/
.prdctfltr_filter label.prdctfltr_ft_none {
    display: none!important;
}

a.backtotop {
    bottom: 110px;
}
@media (max-width: 991px) {
    a.backtotop {
        right: 15px;
        bottom: 80px;
    }
}

#popup-size-guide .modal-dialog {
    margin: 0 auto;
}

.modal {
    top: 50%;
    height: 100vh;
    max-height: calc(100vh - 60px);
}

.summary .entry-title {
    font-weight: bold;
    font-family: 'sofia_bold';
}

@media (max-width: 767px) {
    .products .product-item {
        width: 50%;
    }
}